body{
    background: rgb(255,113,113);
    background: radial-gradient(circle, rgba(255,113,113,1) 0%, rgba(255,170,113,1) 36%, rgba(255,170,113,1) 53%, rgba(110,109,109,1) 100%);
    height: 100%;
    width: 100%;
}

.iconosummoner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}

.lvl{
    position: absolute;
    left:110px;
    top: 125px;
    width: 44px;
    background: url(http://127.0.0.1:5500/Data/Loldata/Perfil/Bannerlevel.png);
    color: white;
    font-size: medium;
    font-size-adjust: inherit;

}

@media (max-width: 1250px) {
    .lvl{
        left:50%;
        top: 55%;
        transform: translate(-50%,-50%);
    }
  }

