body{
    background: black;
    height: 100%;
    width: 100%;
    font-family: 'Teko', sans-serif;
}


#Infosummoner{
    display: flex;
    padding: 1em;
}

    .div1info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    padding: 0.5em;
    }

    .izquierdainfo{
        flex-direction: column;
        width: 50%;
    }

    .div1nombre{
    background:rgb(0, 255, 0);
    
    }

       .div1nombre > h1{
           text-align: center;
       }

    .div1info > div > img{
      
        border-radius: 50%;

    }




.iconosummoner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}



.infos > h3{
    margin: 5px;
    padding: 5px;
}

.lvl{
    position: absolute;
    background: url(http://127.0.0.1:5500/Data/Loldata/Perfil/Bannerlevel.png);
    color: white;
    width: 44px;
    top: 58%;
    text-align: center;
    top: 55%;
    left: 0;
    margin-left: 23.5%;
    margin-right: 76.5%;
}

  #TablaVS {
    display: flow-root;
    padding: 0px;
}


.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
}